html
{
	min-height: 100%;
}

body
{
	background: #5B7899; /* old browsers */

	background: -moz-linear-gradient(top, #5B7899 0%, #80AFD6 98%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7899), color-stop(98%,#80AFD6)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7899', endColorstr='#80AFD6',GradientType=0 ); /* ie */
	
	background: -o-linear-gradient(top, #5B7899 0%,#80AFD6 98%); /* opera */

	text-align: center;
	font-size: 11pt;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;	
	margin: 4px;
}

p
{
	font-size: 11pt;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;	
	margin: 0;
}

#pageContainer
{
	border-radius: 15px;
	border: 1px solid #9cbfc3;
	background: #FFF;
	margin: 0 auto;
	text-align: left;
	max-width: 960px;
	box-shadow: 1px 1px 1px #555555;
}

#logo
{
	padding-left: 20px;	
	padding-top: 7px;
	padding-bottom: 7px;
	float: left;
}

.bar
{
	padding-top: 2px;
	padding-bottom: 2px;
	border-width: 1px;	
	border-color: #9cbfc3;
	border-style: none;
}

.bar *
{
	padding: 2px 8px 2px 8px; /*Top, Right, Bottom, Left*/
}

#bannerLeftFold
{
	background: url("/media/images/BannerSides.png") no-repeat scroll 0 0 transparent;
	height: 47px;
	left: 15.2%;
	position: absolute;
	top: 118px;
	width: 17px;
}

#bannerRightFold
{
	background: url("/media/images/BannerSides.png") no-repeat scroll 0 0 transparent;
	height: 47px;
	left: 15.2%;
	position: absolute;
	top: 118px;
	width: 17px;
}

#topSection
{
	min-height: 100px;	
}

.base #bottomBar
{
	position: fixed;
	bottom: 0px;
	height: 30px;	
	width: 100%;
	z-index: 999;
	color: #DDDDDD;
	border-top-style: solid;
}

#navBar
{
	background-color: #D4F7C2;
	border-bottom-style: solid;
	border-top-style: dotted;
	overflow: auto;
	clear: both;
}

#navBar .navButtons
{
	float: left;
	padding-left: 20px;
	padding-top: 5px;
}

#navBar .navButtons *
{
	text-decoration: none;
	margin-left: 5px;
}

#navBar .navButtons *:hover
{
	text-decoration: underline;	
}

.accountInfo
{
	font-size: 10pt;
	float: right;
	text-align: right;
	margin-right: 10px;
	width: 300px;
	height: 100px;
	padding-top: 7px;
	padding-right: 5px;
	position: relative;
}

.accountInfo a
{
	text-decoration: none;
}

.accountInfo a:hover
{
	text-decoration: underline;
}

.audioquarium-widgets-AccountWidget
{
	bottom: 0px;
	right: 5px;
	position: absolute;
}

.statusMessage
{
	width: 99%;
	padding: 2px;
	text-align: center;
	background-color: #D4F7C2;
	border: 1px solid #B2D5A0;
	padding-bottom: 5px;
}

.statusMessage p
{
	font-size: 10pt;
}

.statusMessage .important
{
	color: #DD0000;
}

#searchBox input
{
	float: right;
	padding: 2px;
	margin: 1px 10px;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	color: #333333;
}

.textInput
{
	background: url('../images/SearchIcon.gif') no-repeat scroll 165px 4px #FFFFFF;
	width: 185px;
}

#center
{
	padding: 10px;	
}

#footer
{
	float: right;
	display: block;	
	width: 100%;
	padding: 10px 0 0 0;
}

#footer a
{
	font-size: 10pt;
	color: #333;
}

#footer *
{
	margin: 10px 0 10px 0;
}

#copyright
{
	text-align: center;
	font: 10pt Arial, sans-serif;
	display: block;
	width: 100%;
}
