.audioquarium-tools-FilterTool
{
	display: inline-block;
}

.audioquarium-tools-FilterTool a
{
	display: inline-block;
	text-align: center;
	width: 60px;
	border: 1px solid #9CBFC3;
	padding: 3px;
	margin: 2px;
}

.audioquarium-tools-FilterTool .selected
{
	color: #bbb;
	background-color: #d4f7c2;	
}