<!-- include SM2 library -->
<script type="text/javascript" src="../media/js/sound_manager/script/soundmanager2.js"></script>

<script type="text/javascript">
soundManager.url = '../media/js/sound_manager/swf'; // directory where SM2 .SWFs live

// Note that SoundManager will determine and append the appropriate .SWF file to the URL,
// eg. /path/to/sm2-flash-movies/soundmanager2.swf automatically.

// Beta-ish HTML5 audio support (force-enabled for iPad), flash-free sound for Safari + Chrome. Enable if you want to try it!
// soundManager.useHTML5Audio = true;

// do this to skip flash block handling for now. See the flashblock demo when you want to start getting fancy.
soundManager.useFlashBlock = false;

// disable debug mode after development/testing..
soundManager.debugMode = true;

soundManager.onready(function() {
	

});

soundManager.ontimeout(function() {

// (Optional) Hrmm, SM2 could not start. Show an error, etc.?

});
</script>
