<span class="audioquarium-widgets-AccountWidget">
	<img id="profilePic" dojoAttachPoint="_profilePic" src="https://graph.facebook.com/me/picture?type=square"
	style="visibility: hidden;"/>
	<span dojoAttachPoint="_userMsg"></span>
</span>
