.ThumbnailMediaContainer 
{
	background-color: #EEE;
	margin: 3px;	
	width: 600px;
}

.focused
{
	background-color: #DDD;
}

.containerHeight
{
	height: 75px;
}

.thumbnailSize
{
	height: 75px;
	width: 75px;
}

.image
{
	position: relative;
	display: block;
	float: left;
	margin-right: 5px;	
}

.playButtonOverlay
{
	visibility: hidden;
	position: absolute;
	left: 0%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.popMeter
{
	border-width: 0px 0px 0px 1px; /*top right bottom left*/
	border-style: solid;
	border-color: white;
	float: right;
	width: 8px;
}

.info
{
	color: #2e2e2e;
	padding-top: 1px;	
	display: table-cell;
	vertical-align: top;
	width: 5000px;
}

.title
{
	font-size: 18px;
	color: black;
	/*border-width: 0px 0px 1px 0px; /*top right bottom left*/
	/*border-style: solid;*/
	/*text-decoration: underline;*/
}

.artist
{
	
}

.artistSongSeparator
{
	
}

.song
{
	font-weight: bold;
}

.details
{
	font: 10pt Arial, sans-serif;	
	position: relative;
	z-index: 1;
}

.infoBar
{
	display: table-cell;
	vertical-align: bottom;
	padding-top: 2px;
	font-size: 11px;
	font-weight: normal;
	color: #f0f4b8;
}

.toolbar
{
	position: relative;
	z-index: 2;
	margin: 47px 0px 0px 0px;
	/*display: inline;*/
	vertical-align: middle;
	float: right;	
}

.toolbar button
{
	border: medium none;
	cursor: pointer;
	width: 28px;
	height: 28px;
}

.transparent button
{
	opacity: 0.7;	/*CSS3 standard*/
	filter:alpha(opacity=70); /*IE*/	
	-moz-opacity: 0.7; /*old versions of mozilla*/
	-khtml-opacity: 0.7; /*old versions of safari*/
}

.transparent button:hover
{
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0
}

.toolbar .faveButton
{
	background: url("/media/images/AddToFavoritesIcon.png");
}

.toolbar .playPauseButton
{
	background: url("/media/images/PlayPauseIcon.png") no-repeat scroll left top;
}

.toolbar .playPauseButton.pause
{
	background-position: right top;	
}

.timestamp
{
	color: #808080;
}

.outerFrame
{
	border: 0px;
	border-collapse: collapse;
	border-width: 0 0 0 0;
	padding: 0px;
	margin: 0px;
}

