<div class="ThumbnailMediaContainer containerHeight">
	<a class="outerFrame">
		<a class="image">
			<img class="thumbnailSize" dojoattachpoint="thumbnailTag">
		</a>
		
		<a class="popMeter containerHeight" dojoattachpoint="popMeterTag"></a>
		<span class="toolbar transparent">
			<button type="button icon" class="faveButton" name="Favorite" title:"Add to favorites" 
				dojoattachpoint="faveButtonTag"></button>
			<button type="button icon" class="playPauseButton" name="Play" title:"Play song" 
				dojoattachpoint="playButtonTag"></button>
		</span>
		<div class="info">
			<a class="title artist" dojoattachpoint="artistNameTag">
			</a>
			<a class="artistSongSeparator">-</a>
			<a class="title song" dojoattachpoint="songNameTag">
			</a>
			<span class="details" dojoattachpoint="detailsTag">
			</span>
			<a dojoattachpoint="blogNameTag"></a>
			<div class="infoBar">
				<abbr class="timestamp" dojoattachpoint="timeStampTag"></abbr>
			</div>
		</div>
		
	</a>
	
</div>
