 <div class="audioquarium-widgets-LoginTool">
		<div dojoAttachPoint="_statusBar" class="statusMessage">
			<p dojoAttachPoint="_msg" class="important"></p>
		</div>
		<table cellpadding="0" border="0" cellspacing="5">
			<tbody>
				<tr>
					<td id="facebookSide" class="division">
						<p>Login or create an account using Facebook (preferred)</p>
						<a id="fbLoginButton" href="" dojoAttachPoint="_fbLoginBtn"></a>	
					</td>
					<td id="vSeparator">
						<br>
					</td>
					<td id="audioquariumSide" class="division">
						<p>Login with an AudioQuarium account</p>
						<form dojoAttachPoint="_loginForm" dojoType="dijit.form.Form">
							<div class="formLine">
								<label for="username">Username:</label>
								<input dojoAttachPoint="_username" type="text" id="username" name="username" required="true" dojoType="dijit.form.ValidationTextBox" style="width: 12em"/>
							</div>
							<div class="formLine">
								<label for="password">Password:</label>
								<input dojoAttachPoint="_password" type="password" id="password" name="password" required="true" dojoType="dijit.form.ValidationTextBox" style="width: 12em"/>
							</div>
							<button dojoAttachPoint="_submitBtn" type="submit">Login</button>
						</form>

					</td>
				</tr>
			</tbody>
		</table>
</div>
