.audioquarium-widgets-LoginTool form div
{
}

.audioquarium-widgets-LoginTool .division
{
	width: 300px;
	vertical-align: top;
}

.audioquarium-widgets-LoginTool .division p
{
	font-weight: bold;
}

.audioquarium-widgets-LoginTool label
{
	font-size: 11pt;
	text-align: right;
}

.audioquarium-widgets-LoginTool input
{
	float: right;
}

.audioquarium-widgets-LoginTool #facebookSide p
{
	padding-bottom: 5px;
}

.audioquarium-widgets-LoginTool #vSeparator
{
	background-color: #CCC;
	width: 1px;
}

.audioquarium-widgets-LoginTool #audioquariumSide p
{
	padding-bottom: 20px;
}

.audioquarium-widgets-LoginTool	a#fbLoginButton 
{
	background: url('/media/images/FBLogin.jpg') no-repeat scroll 0px 0px #FFFFFF;
	display: block;
	width: 210px;
	height: 210px;
	margin-left: 40px;
	opacity: 0.7;	/*CSS3 standard*/
	filter:alpha(opacity=70); /*IE*/	
	-moz-opacity: 0.7; /*old versions of mozilla*/
	-khtml-opacity: 0.7; /*old versions of safari*/
}

.audioquarium-widgets-LoginTool	a:hover#fbLoginButton
{
	opacity: 1.0;	/*CSS3 standard*/
	filter:alpha(opacity=100); /*IE*/	
	-moz-opacity: 1.0; /*old versions of mozilla*/
	-khtml-opacity: 1.0; /*old versions of safari*/
}

.audioquarium-widgets-LoginTool	.formLine
{
	padding: 7px;
	text-align: center;
	float: right;
}

.audioquarium-widgets-LoginTool	#audioquariumSide Button
{
	text-align: center;
	margin-left: 95px;
	margin-top: 5px;
}
