.PageTool {
	display: inline-block;
}

.PageTool .pageBar {
	margin: 5px;	
	padding: 5px 0;
}

.PageTool a {
	text-decoration: none;
	padding: 3px;
	margin: 2px;
	border: 1px solid #9CBFC3;
	color: #BBB; /*the disabled text color*/
	width: 17px;
	display: inline-block;
	text-align: center;
}

.PageTool a:hover {
	text-decoration: underline;
}

.PageTool a:link {
	color: black;	
}

.PageTool a:visited {
	color: black;
}

.PageTool a:active {
	background-color: #d4f7c2;
}

.PageTool .selected {
	background-color: #d4f7c2;	
}