<div class="PostingsList">
	<div id="upperToolbar" dojoattachpoint="toolbarTag"></div>
	<div class="musicList" dojoattachpoint="musicListTag"></div>
	<div id="lowerToolbar" dojoattachpoint="bottomToolbarTag"></div>
</div>