<div dojoattachpoint="container" class="ThumbnailMediaContainer">
	<a class="image">
		<img class="thumbnailSize" dojoattachpoint="thumbnailTag">
	</a>
	
	<table class=info>
		<tr id="song" class="title" dojoattachpoint="songNameTag"></tr>
		<tr id="artist" class="title" dojoattachpoint="artistNameTag"></tr>
		<tr id="blogName" dojoattachpoint="blogNameTag"></tr>
	</table>
		
	<div id="bottomBar">
		<div class="infoBar">
			<abbr class="timestamp" dojoattachpoint="timeStampTag"></abbr>
		</div>
		<span class="toolbar transparent">
			<button type="button icon" class="faveButton" name="Favorite" title:"Add to favorites" 
				dojoattachpoint="faveButtonTag"></button>
			<button type="button icon" class="playPauseButton" name="Play" title:"Play song" 
				dojoattachpoint="playButtonTag"></button>
		</span>
	</div>
</div>
