.ThumbnailMediaContainer 
{
	background: url("/media/images/ThumbnailMediaContainerUnfocusFocus.png") no-repeat scroll left top;
	margin: 4px;	
	width: 230px;
	float: left;
	position: relative;
	border: 0;
	height: 260px;
}

.ThumbnailMediaContainer.focused
{
	background-position: right top;
}

.ThumbnailMediaContainer .thumbnailSize
{
	width: 228px;
	height: 184px;
}

.ThumbnailMediaContainer .image
{
	position: relative;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
	border-bottom: 1px solid #CCC;
}

.ThumbnailMediaContainer .info
{
	color: #2e2e2e;
	padding-top: 1px;	
	vertical-align: top;
}

.ThumbnailMediaContainer .title
{
	color: black;
}

.ThumbnailMediaContainer table.info 
{
	width: 220px;
	overflow: hidden;
	table-layout: fixed;	
	top: 188px;
	padding-left: 5px;
	position: absolute;
}

.ThumbnailMediaContainer .info tr
{
	white-space: nowrap;
}

.ThumbnailMediaContainer tr#artist
{
	font-size: 12px;
}

.ThumbnailMediaContainer tr#song
{
	font-size: 14px;
	font-weight: bold;
}

.ThumbnailMediaContainer tr#blogName
{
	font-size: 11px;
	font-style: italic;
}

.ThumbnailMediaContainer .infoBar
{
	display: table-cell;
	vertical-align: bottom;
	padding-top: 2px;
	font-size: 11px;
	font-weight: normal;
	color: #f0f4b8;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	padding: 3;
}

.ThumbnailMediaContainer #bottomBar
{
	vertical-align: bottom;
	display: block;
	float: right;
	right: 0;
}

.ThumbnailMediaContainer .toolbar
{
	position: absolute;
	z-index: 3;
	margin-right: 10;
	bottom: 0;
	right: 0;
}

.ThumbnailMediaContainer .toolbar button
{
	border: medium none;
	cursor: pointer;
	width: 28px;
	height: 28px;
}

.ThumbnailMediaContainer .transparent button
{
	opacity: 0.7;	/*CSS3 standard*/
	filter:alpha(opacity=70); /*IE*/	
	-moz-opacity: 0.7; /*old versions of mozilla*/
	-khtml-opacity: 0.7; /*old versions of safari*/
}

.ThumbnailMediaContainer .transparent button:hover
{
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0
}

.ThumbnailMediaContainer .toolbar button.faveButton 
{
	background: url("/media/images/FavoritesIconsRed.png") scroll 112px 0;
}

.ThumbnailMediaContainer .toolbar button.faveButton:hover
{
	background-position: 84px 0;
}

.ThumbnailMediaContainer .toolbar button.faveButton.favorited 
{
	background-position: 56px 0;
}

.ThumbnailMediaContainer .toolbar button.faveButton.favorited:hover
{
	background-position: 28px 0;
}	

.ThumbnailMediaContainer .toolbar .playPauseButton
{
	background: url("/media/images/PlayPauseIcon.png") no-repeat scroll left top;
}

.ThumbnailMediaContainer .toolbar .playPauseButton.pause
{
	background-position: right top;	
}

.ThumbnailMediaContainer .timestamp
{
	color: #808080;
}

.ThumbnailMediaContainer a:link
{
	text-decoration: none;
	font-style: normal;
}

.ThumbnailMediaContainer a:hover
{
	background-color: b3c5fd;
	border-bottom: 1px dotted;
}
