{% extends "base.html" %}

{% comment %}
This inherits the base.html file and is for any pages that use the audio manager
{% endcomment %}

<html>

{% block head %}

{% include "includes/audio_player.html" %}
<script type="text/javascript" src="media/js/frames/base_audio.js"></script>
<script type="text/javascript" src="/media/js/frames/hash_manager.js"></script>
{% block fb %}{% endblock %}
{% block scripts %}{% endblock %}

{% endblock %}

{% block content %}
{% endblock %}
</html>
