{% comment %}
This is the root of all AudioQuarium page frames
{% endcomment %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
<head>
	<title>{% block title %}AudioQuarium{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon" /> <!-- Remove when favicon lies in root -->
	<script>
		var djConfig = {
			isDebug: true,
			debugAtAllCosts: true,
			parseOnLoad: true,
			locale: 'en',
			//baseUrl: 'http://localhost:8080', //uncomment this for RL version
			modulePaths: {"audioquarium": "/media/js"}
		};
	</script>
	<script type="text/javascript" src="/media/dojo/dojo/dojo.js"></script>
	<script type="text/javascript" src="/media/js/frames/base.js"></script>
	<style type="text/css">
		@import "media/css/base.css";
		@import "media/dojo/dijit/themes/nihilo/nihilo.css";
	</style>
	{% block head %}{% endblock %}
	{% include "includes/google_analytics.html" %}
	<script src="http://connect.facebook.net/en_US/all.js"></script>
</head>
<body class="nihilo">
	<div id=pageContainer>
		<div id=topSection>
			<img id=logo src="media/images/AudioquariumLogo.png" alt="AudioQuarium">
			{% block accounts %}
			{% endblock %}
			{% block navigation %}
			<a id=bannerLeftFold></a>
			<nav id=navigation>
				<div id=navBar class="bar">
					<span class=navButtons>
						<a title="recently posted music" href="./incoming">Incoming</a>
						<a title="most favorited music" href="./top">Popular</a>
						{% if user.is_authenticated %}
						<a title="your favorited music" href="./user/{{ user.username }}/favorites">Favorites</a>
						{% else %}
						<a title="your favorited music" href="./music/favorites">Favorites</a>
						{% endif %}
					</span>
					{% block extra_navigation %}
					{% endblock %}
				</div>
			</nav>
			<a id=bannerRightFold></a>
			{% endblock %}
		</div>
		{% block content %}{% endblock %}
	</div>	
	<div id=footer>
		<a title="about AudioQuarium" href="./about">About Us</a>
		<p id=copyright>&copy; 2011 - All rights reserved.</p>
	</div>
</body>
</html>
