{% extends "base_audio.html" %}
{% load audioquariumusers_extras %}

{% comment %}
Shows the incoming music type
{% endcomment %}

<html>
{% block scripts %}
<style type="text/css">
	@import "media/js/pages/templates/About.css";
	@import "media/js/widgets/templates/ThumbnailMediaContainer.css";
	@import "media/js/widgets/templates/PostingsList.css";
	@import "media/js/widgets/templates/PageTool.css";
	@import "media/js/tools/templates/FilterTool.css";
	@import "media/js/widgets/templates/LoginTool.css";
</style>
<div id="fb-root"></div>
<script>
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endblock %}

{% block content %}
<div id="pageContent">
</div>
{% endblock %}

{% block extra_navigation %}
<span id=searchBox>
	<input type="text" name="search" id="searchField" value="" class="textInput"
	invalidMessage="Invalid special character(s).">
</span>
{% endblock %}

{% block accounts %}
<div id="accountInfo" class="accountInfo"></div>
{% if user.is_authenticated %}
	<script type="text/javascript">
	{% if fb_user %}
	{% else %}
	dojo.ready(function(){
		dojo.require('audioquarium.widgets.AccountWidget');
		var accountWidget = new audioquarium.widgets.AccountWidget();
		accountWidget.placeAt(dojo.byId('accountInfo'));
		accountWidget.showLoggedIn("{{ user.username }}");
	});
	{% endif %}
	</script>
{% else %}
	<script type="text/javascript">
	dojo.ready(function(){
		dojo.require('audioquarium.widgets.AccountWidget');
		var accountWidget = new audioquarium.widgets.AccountWidget();
		accountWidget.placeAt(dojo.byId('accountInfo'));
		// account widget goes to logout by default
	});
	</script>
{% endif %}
{% endblock %}

{% block fb %}
	{% if fb_user %}
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '200793073291691', status: true, cookie: true, xfbml: true});
	
	dojo.ready(function(){
		dojo.require('audioquarium.widgets.AccountWidget');
		var accountWidget = new audioquarium.widgets.AccountWidget();
		accountWidget.placeAt(dojo.byId('accountInfo'));

		FB.api('/me?fields=first_name', function(response){
			
			var username = response.first_name;
				
			accountWidget.showLoggedIn(username, "{{ fb_user.access_token }}");
		});
	});
  };
</script>
{% else %}
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '200793073291691', status: true, cookie: true, xfbml: true});
	
  };
</script>
{% endif %}
{% endblock %}
</html>
