<div class=audioquarium-pages-About>
<h1>About</h1>
<p>AudioQuarium is a music discovery site that aggregates posts from the best music
blogs around the web into one website for your convenience. We seek to give blogs
full credit for the music they find and write about.</p>
<br>
<p><strong>Please note:</strong> AudioQuarium is new and still under heavy construction!</p>
<br><br>
<p><em>Developers: Miko, Mark, Jonay, Shoerag</em></p>
</div>